.about{
    color: white;
    font-size: 1.5rem;
    display: flex;
   align-items: center;
    justify-content: center;
flex-wrap: nowrap;

.skills,.education,.hobbies{
    z-index: 12345;
    background-color:purple;
        padding: 3rem 2rem;
      border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    .text{
        font-size: 30px;
    }
   
}}